---
layout: default
---

  {% if site.theme.header_text %}


  <div class="fc-background">
    <div class="call-out">
      {{ site.theme.header_text }}

    </div>
  </div>

  <div class="fc-header-btn">
      <a href="#posts" class="btn-floating btn-large waves-effect waves-light fc-jump-action" >
        <div class="fa fa-angle-down" style="position: relative;top: 13px;font-size: 30px;" ></div>
      </a>
  </div>


  {% endif %}



<div class="fc-home">



  <div class="posts mt" id="posts">


    {% for post in paginator.posts %}
    <div class="fc-card">

      <header>
        <div class="fc-card-title">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>

        <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
      </header>

      <div class="excerpt">
        {{ post.excerpt }}

        <a class="waves-effect waves-light btn fc-action" href="{{ post.url | prepend: site.baseurl }}">{{ site.theme.str_continue_reading }}</a>
      </div>

    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">

    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
