body {
  color: $primaryText;
}

.container{
  padding: 0;
}


.mt{
  margin-top: 30px;
}

nav.top-nav.fc-top-nav{
  background-color: $darkPrimaryColor;
}

.call-out{
  background-color: $darkPrimaryColor;
  box-shadow: 0px 0px 7px 0px #777;
}

.call-out h4{
  font-size: 1.2em;
}

footer.site-footer{
  padding: 3% 20%;
  background: $darkPrimaryColor;
  color: #fff;
  box-shadow: 0px 0px 7px 0px #777;
  margin-top: 10%;
}

.post-content {
  width: 760px;
  margin: auto auto;
}

.fc-header-btn {
  right: 5%;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 51%;
}

.fc-header-txt{
  color:$lightPrimaryColor;
  font-size: 28px;
}

li.logo.nav-logo:hover {
  background: none;
}

.logo.nav-logo {
  padding: 20px 15px;
}

.logo-icon {
  height: 50px;
  border-radius: 10px;
  margin-top: 5px;
}

.fc-action{
  background-color:#ce616e !important;
}

.stand-out {
  color: #ce616e;
  font-weight: bold;
}

ul.side-nav.fixed {
  left: -240px;
}

ul.side-nav li {
  float: none;
  padding: 5px 15px;
}

.pull-right{
  float: right !important;
}

.fc-card{
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 20px;
  padding: 25px;
  padding-left: 30px;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
}

.fc-home{
  margin-top: 270px;
}

.fc-background{
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-color: #f0f0f0;
  background-size: 100% auto;
}

.fc-jump-action{
  background-color: #E35845 !important;
}

.fc-no-shadow{
  box-shadow: none !important;
}

h2{
  font-weight: 400;
  font-size: 24px;
  line-height: 1.66667 !important;
  margin: 35px 0 -15px;
}

.fc-header-title {
  font-size: 45px !important;
  line-height: 1.3 !important;
  margin-top: 50px;
  color: #fff;
}

.fc-card-title{
  font-size: 24px !important;
  line-height: 1.3 !important;
  font-family: 'Roboto Mono', Arial, serif;
}

header .meta{
  margin-top: 10px;
}

.fc-center-img{
  margin: 0 auto;
  display: block;
}

.fc-list{
  margin: 0 0 15px 20px;
  padding: 0;
  display: block;
  list-style-type: disc;
}


.fc-list li {
  margin: 0 0 12px;
  display: list-item;
  text-align: -webkit-match-parent;
}

@media only screen and (max-width: 792px){
  .post-content {
    width: 360px;
    padding-left: 0;
    padding-right: 0;
  }

  .fc-header-btn{
   top: 355px;
  }
}

@media screen and (max-width: 400px) {
.fc-home {
    margin-top: 320px;
  }
}

.title{
    font-size: 30px ;
    line-height: 1.3;
  }

@media screen and (max-width: 360px) {
  .fc-home {
    margin-top: 320px;
  }



  .logo-icon {
    height: 45px;
  }

  .post-content{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

}

@media screen and (max-height: 485px ){
  .fc-header-btn{
    bottom: 75px;
  }
}

li {
  font-weight: 400;
  font-size: 17px;
}

.section {
  padding-bottom: 6rem;
}

#fc-index-banner{
  background-color: $darkPrimaryColor;
  z-index: -1;
  position: relative;
  margin-bottom: -60px;
  font-family: 'Roboto Mono', Arial, serif;
}


.fc-social-icons{
  font-size: 30px;
}

.fc-social-icons:hover{
  color: #fff;
}
