$darkPrimaryColor: #32425c;
$primaryColor: #607d8b;
$lightPrimaryColor: #607189;
$text: #FFFFFF;
$accentColor: #FF9800;
$primaryText: #555;
$secondaryText: #727272;
$divider: #B6B6B6;


body {
  color: $primaryText;
}



.mt{
  margin-top: 30px;
}


nav.top-nav.fc-top-nav{
  background-color: $darkPrimaryColor;
}


.call-out{
  background-color: $darkPrimaryColor;
  box-shadow: 0px 0px 7px 0px #777;
}

.call-out h4{
  font-size: 1.2em;
}


a.btn-floating.btn-large.waves-effect.waves-light.red {
  position: relative;
  top: -25px;
}

footer.site-footer{
  padding: 3% 20%;
  background: $darkPrimaryColor;
  color: #fff;
  box-shadow: 0px 0px 7px 0px #777;
}

.fr-header-btn {
  right: 5%;
  position: absolute;
  width: 50px;
  height: 50px;
}

.fc-header-txt{
  color:$lightPrimaryColor;
}

li.logo.nav-logo:hover {
  background: none;
}

.logo.nav-logo {
  padding: 20px 15px;
}

.logo-icon {
  height: 50px;
  border-radius: 10px;
  margin-top: 5px;
}

.fc-action{
  background-color:#ce616e !important;
}

.stand-out {
  color: #ce616e;
  font-weight: bold;
}

ul.side-nav.fixed {
  left: -240px;
}

ul.side-nav li {
  float: none;
  padding: 5px 15px;
}

.pull-right{
  float: right !important;
}

.fr-card{
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 20px;
  padding: 25px;
  padding-left: 30px;
  background: #fff;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.1);
}

.fr-home{
  margin-top: 270px;
}

.fr-background{
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300%;
  background-color: #f0f0f0;
  background-size: 100% auto;
}


.fr-no-shadow{
  box-shadow: none !important;
}



@media screen and (max-width: 800px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {
  .fr-home {
    margin-top: 455px;
  }

}
